@charset "utf-8";
#div_body{width:100%;}
li{list-style : none; border:0; float:left; }
a{color:#333; text-decoration:none;}
body{color:#333;}
*{padding:0;margin:0;}
#div_1{height:18vh;float:left; width:100%;background-color:#051e3e;
		text-align:center;}
.info{font-size:9pt;color:#ffffff;text-align:center;height:100%; display:inline-block;}
#video{ width:100%; object-fit:fill; position:relative; top: 0; left: 50%; transform:translateX(-50%); }
